.navbar {
  background-color: #1e96fc;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
footer {
  background-color: #1e96fc;
}
#button-kirim {
  background-color: #1e96fc;
}
section {
  padding-top: 5rem;
}
